<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css">
    <title>AJ Curises</title>
</head>
<body>
    <div id ="titleDiv"> AJ Cruises REST API</div>
    <div>
        <button id ="user-data">Get User Data</button>
        <button id ="ship-data">Get Ship Data</button>
        <button id ="itinerary-date">Get Itinerary Data</button>
    </div>
    <div id="url-link" style="display: block;"></div>
    <div id="result-div" style="display: block;">
        
    </div>
    <!-- <script src="app.js"></script> -->
</body>
</html>